header {
    color: #fff;
    background-color: rgb(132, 87, 255);
    text-align: center;
    padding: 3em;
    font-size: 1.5em;
}

#one-post {
    padding-top: 1.5em; 
    padding-bottom: 1.5em;
}

img {
    width: 30%;
    height: 30%;
    padding-block: 1em;
}

.rounded {
    border-radius: 15px!important;
}

.btn-primary {
    color: #fff;
    background-color: rgb(132, 87, 255);
    border-color: rgb(132, 87, 255);
}
